<section class="hero">
  <div class="hero__content">
    <div class="hero__socials">
      <span class="hero__socials-text">follow us</span>
      <div class="hero__socials-links">
        <a class="hero__socials-instagram" href="#instagram"></a>
        <a class="hero__socials-twitter" href="#twitter"></a>
      </div>
    </div>
    <div class="hero__heading">
      <div class="hero__heading-sub">
        <div class="hero__heading-subline"></div>
        <div class="hero__heading-sub-text">a hiking guide</div>
      </div>
      <h2 class="hero__heading-title">Be prepared for the <br> Mountains and beyond!</h2>
      <div class="hero__heading-scroll">
        <div class="hero__heading-scroll-text">Scroll</div>
        <div class="hero__heading-scroll-icon"></div>
      </div>
    </div>
    <div class="hero__blank"></div>
  </div>
  <div class="hero__bg">
    <div class="hero__clouds"></div>
    <div class="hero__mountains"></div>
    <div class="hero__ground"></div>
    <div class="hero__gradient"></div>
  </div>
  
</section>