<header class="nav">
  <h1 class="nav__logo">MNTN</h1>
  <nav class="nav__links">
    <a class="nav__links__item" href="#equipment">Equipment</a>
    <a class="nav__links__item" href="#about">About</a>
    <a class="nav__links__item" href="#blog">Blog</a>
  </nav>
  <button class="nav__account">
    <span class="nav__account__icon"></span>
    Account
  </button>
</header>