@mixin backgroundImage($url, $w, $h) {
  background-image: url($url);
  width: $w;
  height: $h;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}