@import "_variables";
@import "_fonts";
@import "_helpers";

.nav {
  color: $text-main;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;

  @include montserratFont(400, normal);

  &__logo {
    @include bonaFont(400, bold);
  }

  &__links {
    display: flex;
    gap: 1em;
    font-size: 14px;
    &__item {
      text-decoration: none;
      color: $text-main;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    appearance: none;
    text-decoration: none;
    background-color: transparent;
    color: $text-main;
    border: none;
    cursor: pointer;
    @include montserratFont(400, normal);
    &:hover {
      opacity: 0.5;
    }

    &__icon {
      @include backgroundImage("./assets/icons/account.svg", 20px, 20px);
    }
  }
}