@import "./styles/variables";
@import "./styles/nav";
@import "./styles/hero";
@import "./styles/steps";
@import "./styles/fonts";
@import "./styles/preloader";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}

#root {
  transition: opacity 1s;
}

.overflow-hidden {
  overflow: hidden;
}

.hide-content {
  opacity: 0;
  overflow: hidden;
}

.show-content {
  opacity: 1;
  overflow: auto;
}