@import "./styles/variables";
@import "./styles/nav";
@import "./styles/hero";
@import "./styles/steps";
@import "./styles/fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}